/* Estilos para el chatbot */
#chatbox {
    display: none;
    position: fixed;
    bottom: 0;
    right: 20px;
    background-color: #37474f;
    color: white;
    width: 300px;
    height: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

#chatlogs {
    height: 80%;
    overflow-y: scroll;
    padding: 10px;
    font-size: 14px;
}

#userMessage {
    color: rgb(7, 7, 7);
    width: 80%;
    padding: 8px;
    border-radius: 4px;
    border: none;
    margin-right: 30px;
}

#sendButton {
    padding: 8px;
    background-color: #455a64;
    border: none;
    color: white;
    border-radius: 4px;
}

#chatbotButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #455a64;
    color: white;
    padding: 10px;
    border-radius: 50%;
    font-size: 16px;
    cursor: pointer;
}
